<div class="d-flex justify-content-center">

  
        <ul>
            <li>
                <a href="/executive">Executive</a>
        
            </li>
            <li>
                <a href="/cashier">Cashier</a>
            </li>
        </ul>
 
</div>