<div class="d-flex justify-content-center">
    <form action="/customer/search" method="post">
        <div class="form-group">
            <input type="text" name="customerid" class="form-control">
            <button type="submit" class="btn btn-dark">Search</button>
        </div>
    </form>
</div>